<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.movie"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainTabsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".home.FirstActivity"
            android:label="@string/title_activity_first" >
        </activity>
        <activity
            android:name=".home.SecondActivity"
            android:label="@string/title_activity_second" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main_tabs" >
        </activity>
        <activity
            android:name=".ContentActivity"
            android:label="@string/title_activity_content" >
        </activity>
        <activity android:name=".User_info" >
        </activity>
        <activity android:name=".register"></activity>
    </application>

</manifest>
